<nav id="nav" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">

  <h2 id="nav-header">
    {% if 'user_name' in session %} Hello, {{ session['user_name'] }} {%
    endif %}
  </h2>
  <form id="sbar", action="{{url_for('tracks_bp.tracks_by_artist')}}", method="get">
        <input type="search" placeholder="Search by Artist Name" name="name">
        <button type="submit">Search</button>
    </form>
  <form id="sbar", action="{{url_for('tracks_bp.tracks_by_album')}}", method="get">
        <input type="search" placeholder="Search by Album Title" name="name">
        <button type="submit">Search</button>
    </form>
  <form id="sbar", action="{{url_for('tracks_bp.tracks_by_genre')}}", method="get">
        <input type="search" placeholder="Search by Genre" name="type">
        <button type="submit">Search</button>
    </form>
    <div id="nav-button">
  <a class="nav" href="{{ url_for('home_bp.home') }}">Home</a>
    </br>
  <a class="nav" href="{{ url_for('authentication_bp.register') }}">Register</a>
    </br>
  <a class="nav" href="{{ url_for('authentication_bp.login') }}">Login</a>
    </br>
  <a class="nav" href="{{ url_for('authentication_bp.logout') }}">Logout</a>
        </br>
      <a class="nav" href="{{url_for('tracks_bp.tracks_by_page', page = 1)}}">
        Browse Tracks
      </a>
</div>

</nav>
